.venv

# Fichiers temporaires Python
portfolio_package\__pycache__
__pycache__/
*.pyc

# Config IDE
.idea/

# ne pas enregistrer les donnees que chaque utilisateur génère sur le depot distant 
.saved_json_data 
